<center>
<ul id="quiet">
  <li> <%= link_to "Homepage (Cameron Carroll)", '/index' %></li>
  <li> <%= link_to "Documents", '/documents' %></li>
  <li> <%= link_to "Resources", '/resources' %></li>
</ul>
</center>
<hr class="faded" />