<div id="left">
  <h2><center> School Docs</center></h2>
  
</div>

<div id="right">
  <center>
    <h2> Personal Docs</h2>
  <ul id="quiet">
    <li> <%= link_to 'Ruby Quickstart on Fedora', '/ruby-quick-start' %></li>
    <li> <%= link_to 'PostgreSQL Quickstart on Fedora', '/pgsql-quick-start' %></li>
    <li> <%= link_to 'LaTeX Guides / Reference', '/latex' %></li>
    <li> <%= link_to 'My Game Development & Design', '/games' %> </li>
  </ul>
  </center>
</div>