
<div>
  <center>
    <h2> Documents and Articles</h2>
  <ul id="quiet">
    <li> <%= link_to 'Ruby Quickstart on Fedora', '/ruby-quick-start' %></li>
    <li> <%= link_to 'PostgreSQL Quickstart on Fedora', '/pgsql-quick-start' %></li>
    <li> <%= link_to 'Spree eCommerce: Extension Tutorial', '/spree-extension-tutorial' %></li>
    <li> <%= link_to 'My Game Development & Design', '/games' %> </li>
  </ul>
  </center>
</div>