<center><p>Welcome! Poke around the documents and resources for tutorials and musings about code, engineering and life.</p></center>

<span id="image">
<%= image_tag "poo_out_window_small.jpg" %>
</span>