<div id="left">
  <h2> Spree eCommerce Extension Tutorial: Part 0 </h2>
  <p id="note"> Updated on March 4, 2012 </p>
  <p id="note"> by Cameron Carroll </p>
</div>

<div id="right">
  <span id="image">
    <a href="http://spreecommerce.com/"> <%= image_tag "spree-license.png" %> </a>
  </span>
</div>
<br />

<p class="text"> 
  Spree is a "90%" solution to Rails eCommerce. While it functions out-of-the-box, customization to any degree requires some work in rails.
  The 90% refers to the fact that the last tenth of the way is left up to the person implementing the web app.
  This 'part 0' tutorial is to get your development environment ready for Spree.
  (Note that parts 1+ aren't written yet. I'm currently working on integrating Spree/Refinery though, so look out for that one soon.)
</p>

<p class="text">
  This tutorial is intended for readers comfortable with Ruby and Rails, and will assume you're running Ruby 1.9+ and Rails 3.1+.
  Lets begin by installing Spree before creating a first extension. You may already have created a Spree application by adding a reference in the gemfile, but installing the Spree gem locally allows you to use the extension generator.
  You can either build the gem from the source, or do a gem install. As of this writing, 'gem install spree' wasn't working, so I had to get 'gem install spree_cmd' as suggested in the <%= link_to 'README', 'https://github.com/spree/spree' %>
</p>

<ol id="guide">
  <li>
    <p>
      <b> (Optional) -- If you want edge Spree and Rubygems is behind, install from source: </b>
      Grab the entire Spree repository and check out the version you would like to install.
      This may either be the latest tagged branch, or a particular branch that the rest of your application may be using.
      Then prepare the dependency bundle and use the rake tasks to build and install the gem. Note that you may have to install some dependencies in order to perform the bundle install; I had to install libffi.   
    </p>
    <p class="code">
      $ git clone git://github.com/spree/spree.git <br />
      $ git checkout v1.0.0.rc1 <br />
      $ bundle install <br />
      $ bundle exec rake clean <br />
      $ bundle exec rake gem:install <br />
      $ spree -v <br />
  </li>
  
  <p class="note">
    You can install Spree from the RubyGems sources, but you're not guaranteed to get the version that you want. All versions are available from Github, but only the "most stable" (or really, the older) versions are on RubyGems.
  </p>
  
  <li>
    <p>
      With the Spree gem installed, lets go ahead and create two new Rails engines: One as a test app for integrating extensions, and a second to serve as the extension itself.
      Creating the test application is easily done by following the <a href="http://edgeguides.spreecommerce.com/getting_started.html">Spree Getting Started Guide.</a> The instructions there are more detailed, so I will only go over the procedure briefly.
      We simply create a new rails application and install the Spree gem (from source.) Once the Spree gem is installed, you can use its installation generator to transform your blank rails application into a blank spree application.
      After performing the migrations, you can go ahead and start the web server and play around with the blank application. A very brief introduction to the Spree front and backend can be found in the aforementioned getting started guide, at the very bottom.
    </p>
    <p class="code">
      $ rails new blank_spree_app <br />
      $ cd blank_spree_app <br />
      --> Add gem 'spree', :git => 'git://github.com/spree/spree.git' to gemfile <br />
      $ bundle install <br />
      $ bundle exec rake db:create <br />
      $ rails g spree:install <br />
      $ bundle exec rake db:migrate <br />
    </p>
  </li>
  
  <li>
    <p>
      Next we have to create the extension project. The <a href="http://edgeguides.spreecommerce.com/creating_extensions.html">documentation can be found here.</a>
      A Spree extension can be created either inside of the test application, or as a standalone project. I prefer to keep it as a standalone, but remember that you can also execute the same command inside of a host Spree app to create a standalone extension.
      First we use the Spree executable to create a new extension and then use the included rake task to generate the 'test app,' which allows running tests or generators inside of the extension. See the documentation for details regarding integrated apps.
    </p>
    <p class="code">
      $ spree extension spree_extension <br />
      $ bundle install <br />
      $ rake test_app <br />
    </p>
  </li>
  
  <li>
    <p>
      The final task in setting up your extension development environment is to include the extension into your test application and import any migrations.
      Note that any database migrations you produce must be copied to the host application using the rake task, and then migrated from there.
      While developing your extension, you must 'bundle install' every time you want a change to show up in the host application. 
   </p>
    <p class="code">
      --> Add to gemfile of test app: gem 'spree_extension', :path => 'path/to/your/extension/on/local/drive' <br />
      $ bundle install <br />
    </p>
    <p class="note">
     When your extension produces database migrations, two new commands are required to install: <br />
     <p class="code">
        $ rake spree_extension:install:migrations <br />
        $ rake db:migrate <br />
     </p>
    </p>
  </li>
  
  <p class="note">
    Now that we have a development environment set up and ready to go, we can begin working. Stay tuned for Part 1, where we will add a simple configuration page to the administration interface. 
  </p>
  
</ol>